<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <h1>enter url in a box bellow</h1>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <input type="text" id="siteAddress" />
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <button class="btn btn-info" onclick="TestSite()">Start Test</button>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div hidden="hidden" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div id="div1"></div>
<table id="resultsTable" class="table table-striped">
    <thead>
        <tr>
            <th>Url</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>